<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Borel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />

    <link href="styles/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1 class="bah">todo-ish</h1>
      <form action="/addtask" method="POST">
        <input
          type="text"
          name="newtask"
          class="lengthenInput"
          placeholder="E.g. Walk my fish"
        />
        <input type="submit" value="Add Task" />
      </form>
      <h3>Added Tasks:</h3>
      <% for( var i = 0; i < task.length; i++){ %>
      <ul>
        <li>
          <input
            type="checkbox"
            class="selected"
            name="inputted"
            value="<%= i %>"
          />
          <%= task[i] %>
          <!--TODO: change the "value" to the time it was entered at?-->
        </li>
      </ul>
      <% } %>

      <form action="/removetask" method="ge">
        <input type="submit" value="Remove Task" />
      </form>

      <!--Dont really need to display completed tasks.-->
      <!-- <h3>Completed tasks:</h3> 
      <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked /><%= complete[i] %></li>
      <% } %> -->
    </div>

  </body>
</html>

<% for (var i = 0; i < task.length; i++) {
  document.querySelectorAll(".selected")[i].addEventListener("click", function () {
    console.log("button was selected");
  });
} %>
