<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Borel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />

    <link href="styles/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1 class="bah">todo-ish</h1>
      <form action="/addtask" method="POST">
        <input
          type="text"
          name="newtask"
          class="lengthenInput"
          placeholder="E.g. Walk my fish"
        />
        <input type="submit" value="Add Task" />
      </form>
    </div>
 
    <div class="container-addedtasks">
      <h3>Added Tasks:</h3>
      <% for( var i = 0; i < task.length; i++){ %>
      <ul>
        <li>
          <!--TODO: change the "value" to the time it was entered at?-->

          <input
            type="hidden"
            class="selected"
            name="inputted"
            value="<%= i %>"
          />
          <%= task[i] %>

            <form action="/delete" method="POST">
              <!-- <input
                type="hidden"
                name="todoTask"
                value=" task[i].todoTask"
              /> -->
              <button class="delete" name="deleteTask" type="submit" value="<%= i %>">❌</button>
            </form>
  
        </li>
      </ul>
      <% } %>
    </div>

  </body>
</html>
