body {
  background: #FFF3E2;
  /* background: linear-gradient(45deg, #FA9884, #FFE5CA, #FFF3E2);
  background-size: 180% 180%;
  height: 700px;
  animation: gradient 10s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

h1 {
  font-family: "Borel", cursive;
  color: black;
  font-size: 60px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;

  /* text-align: center; */
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 40px;

}

li {
  color: #353333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
}

.liContainer{
  display: flex;
  justify-content: center;
}


input {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f5f5f5;
  border-radius: 3px;
  height: 30px;
  border: 1px solid black;
}

.container{
  display: flex;
  justify-content: center;
}

.lengthenInput {
  width: 400px;
}



.xcontainer{
  display: flex;
  justify-content: center;
  width: 15px;
}

.deleteButton{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #E74646;
  border: 1px solid #353333;
}

button:hover {
  background-color: #FA9884;
}
