body {
  background: linear-gradient(45deg, #91c788, #ddffbc, #feffde);
  background-size: 180% 180%;
  height: 700px;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Borel", cursive;
  color: black;
  font-size: 60px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  /* text-align: center; */
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  /* text-align: center; */
}

li {
  color: #52734d;
  font-family: "Josefin Sans", sans-serif;
}

input {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 30px;
  border: 2px solid black;
}

.lengthenInput {
  width: 200px;
}

button {
  background-color: #f5f5f5;
  border-radius: 50%;
  border: 2px solid black;
}
button:hover {
  background-color: #f5f5f5c7;
}
